/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 20px auto;
}

.list-container ul li {
    margin-top: 1rem;
    list-style: none;
    text-align: center;
}